#run crontab -e
# m h  dom mon dow   command
  0 4  *   *   *     ~/scripts/daily_backup.sh > ~/scripts/daily_backup.log 2>&1
  0 4  *   *   0     ~/scripts/weekly_backup.sh > ~/scripts/weekly_backup.log 2>&1
  0 4  1   *   *     ~/scripts/monthly_backup.sh > ~/scripts/monthly_backup.log 2>&1
  0 4  1   1   *     ~/scripts/yearly_backup.sh > ~/scripts/yearly_backup.log 2>&1
  